.title {
  text-align: center;
}

.board {
  display: grid;
}

button {
  margin-left: 0.1em;
  margin-right: 0.1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-radius: 20%;
  width: 3em;
  height: 2em;
  font-size: 15pt;
}

button .disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.marked {
  border: 0.3em solid black;
}

.red {
  background-color: #ff6666
}

.yellow {
  background-color: #ffff66;
}

.green {
  background-color: #668000;
}

.blue {
  background-color: #6666ff;
}

.scores {
  display: inline;
}

.score {
  width: 5.2em;
  height: 3em;
  border-radius: 20%;
  border: 0.3em solid black;
}

#red-score {
  border: 0.3em solid #ff6666;
}

#yellow-score {
  border: 0.3em solid #ffff66;
}

#green-score {
  border: 0.3em solid #668000;
}

#blue-score {
  border: 0.3em solid #6666ff;
}